/* Styles for Item Identifier plugin */
/* Scope to our badges only to avoid affecting other tags */
.hs-inventory-item__tag[data-hs-tag-overlay] {
  background-color: var(--hs-color-inventory-item-amount-bg);
  border-radius: .25rem;
  left: .0625rem;
  padding: 0 .125rem;
  position: absolute;
  text-align: right;
  bottom: .0625rem; /* swapped from top */
  font-size: 10px;
  line-height: 1.1;
  pointer-events: none;
  color: var(--hs-color-inventory-item-amount-fg, #fff);
  z-index: 1;
}
