/* Styles for Item Identifier plugin */
/* Scope to our badges only to avoid affecting other tags */
.hs-inventory-item__tag[data-hs-tag-overlay] {
  position: absolute;
  left: .0625rem;
  bottom: .0625rem; /* bottom-left, mirroring amount but at bottom */
  pointer-events: none;
  display: inline-block;
  padding: 0 .125rem;
  border-radius: .25rem;
  background-color: var(--hs-color-inventory-item-amount-bg);
  color: var(--hs-color-inventory-item-amount-fg, #ff0);
  text-transform: capitalize;
  text-shadow: 0 0 1px rgba(0,0,0,0.7);
  z-index: 1;
}
